<div class="home-container">
    <img src="home/title.svg" class="title animation-move">

    @if (buttonsType == "play") {
    <div class="desc">
        {{ 'home.description' | translate }}
    </div>
    }


    <div class="buttons">
        @if (buttonsType == "play") {
        <div class="play">
            @if (sharedService.authUser) {
            <img src="home/stat.svg" alt="stat" (click)="onStat()">
            }
            <img src="home/play.svg" alt="play" (click)="onNext()">
        </div>
        <div class="lang">
            <img src="flags/fr.jpg" [ngClass]="{active: sharedService.lang == 'fr'}" (click)="changeLang('fr')">
            <img src="flags/en.jpg" width="300" height="200" [ngClass]="{active: sharedService.lang == 'en'}" (click)="changeLang('en')">
        </div>
        } @else if (buttonsType == "login") {

        <h1> {{ 'home.login' | translate }} </h1>
        <div class="login">
            <form [formGroup]="userForm">
                <input type="text" formControlName="name" placeholder="{{ 'home.username' | translate }}"
                    [ngClass]="{'invalid':userForm.invalid}">
                <button type="submit" (click)="onNext(userForm.value!.name)" [disabled]="!userForm.valid">
                    {{'home.next' | translate }}
                </button>
                <button class="prev" (click)="onPrev()">
                    {{'home.back' | translate }}
                </button>
            </form>
        </div>

        } @else if (buttonsType == "level") {

        <h1> {{ 'home.level' | translate }} </h1>
        <div class="level">
            <button (click)="onNext('easy')">
                {{ 'home.easy' | translate }}
            </button>
            <button (click)="onNext('normal')">
                {{ 'home.normal' | translate }}
            </button>
            <button (click)="onNext('difficult')">
                {{ 'home.difficult' | translate }}
            </button>
            <button class="prev" (click)="onPrev()">
                {{ 'home.back' | translate }}
            </button>
        </div>

        } @else {

        <h1>  {{ 'home.category' | translate }} </h1>
        <div class="category">
            <button (click)="onNext()">
                {{ 'home.all' | translate }}
            </button>
            <button (click)="onNext('grammar')">
                {{ 'home.grammar' | translate }}
            </button>
            <button (click)="onNext('spelling')">
                {{ 'home.spelling' | translate }}
            </button>
            <button (click)="onNext('expression')">
                {{ 'home.expression' | translate }}
            </button>
            <button (click)="onNext('vocabulary')">
                {{ 'home.vocabulary' | translate }}
            </button>
            <button class="prev" (click)="onPrev()">
                {{ 'home.back' | translate }}
            </button>
        </div>

        }
    </div>
</div>