<div class="home-container">
    <img src="home/title.svg" class="title animation-move">

    @if (buttonsType == "play") {
    <div class="desc">
        Il s'agit d'une application web pour améliorer votre angalis tout en s'amusant. <br>
        Vous devez répondre aux question de grammaire, orthographe, expression et vocabulaire. <br>
        Votre score montera au fur à mesure si vos réponses sont correctes.
    </div>
    }


    <div class="buttons">
        @if (buttonsType == "play") {
        <div class="play">
            @if (sharedService.authUser) {
                <img src="home/stat.svg" alt="stat" (click)="onStat()">
            }
            <img src="home/play.svg" alt="play" (click)="onNext()">
        </div>
        } @else if (buttonsType == "login") {

        <h1> S'identifier </h1>
        <div class="login">
            <form [formGroup]="userForm">
                <input type="text" formControlName="name" placeholder="Nom d'utilisateur !" [ngClass]="{'invalid':userForm.invalid}">
                <button type="submit" (click)="onNext(userForm.value!.name)" [disabled]="!userForm.valid">Valider</button>
                <button class="prev" (click)="onPrev()">Retour</button>
            </form>
        </div>

        } @else if (buttonsType == "level") {

        <h1> Niveau </h1>
        <div class="level">
            <button (click)="onNext('easy')">Facile</button>
            <button (click)="onNext('normal')">Moyen</button>
            <button (click)="onNext('difficult')">Difficile</button>
            <button class="prev" (click)="onPrev()">Retour</button>
        </div>

        } @else {

        <h1> Categorie </h1>
        <div class="category">
            <button (click)="onNext()">Tous</button>
            <button (click)="onNext('grammar')">Grammaire</button>
            <button (click)="onNext('spelling')">Orthographe</button>
            <button (click)="onNext('expression')">Expression</button>
            <button (click)="onNext('vocabulary')">Vocabulaire</button>
            <button class="prev" (click)="onPrev()">Retour</button>
        </div>

        }
    </div>
</div>