<div class="stat-card">
    <div class="close-stat" (click)="onClose()"> <span>X</span> </div>
    <div class="title">{{'stat.your statistics' | translate }}</div>
    <div class="user-name"> {{ shared.authUser?.name}} </div>
    <div class="score">
        <div class="item">
            <span class="label"> {{'stat.best score' | translate }} : </span> <span class="value">120</span>
        </div>
        <div class="item">
            <span class="label"> {{'stat.questions answered' | translate }} : </span> <span class="value">36</span>
        </div>
        <div class="item">
            <span class="label"> {{'stat.correct answers' | translate }} : </span> <span class="value">20</span>
        </div>
        <div class="item">
            <span class="label"> {{'stat.incorrect answers' | translate }} : </span> <span class="value">16</span>
        </div>
    </div>

    <div class="logOut" (click)="onLogOut()">
        <span> {{'stat.log out' | translate }} </span>
    </div>
</div>